@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 80px;
}

table td {
  padding: 5px;
}

.city, .temperature {
  font-weight: bold;
  font-size: 3.5rem;
}

.degree {
  font-size: 1.5rem;
  vertical-align: super;
  padding-left: 0;
}

.details {
  padding-left: 0.5rem;
}
